<footer class="rex-footer">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
            <h3>{{'footer.services.title' | translate}}</h3>
            <ul>
                <li><a href="#">{{'footer.services.editors' | translate}}</a></li>
                <li><a href="#">{{'footer.services.blockchain' | translate}}</a></li>
                <li><a href="#">{{'footer.services.support' | translate}}</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h3>{{'footer.blog.title' | translate}}</h3>
            <ul>
                <li><a href="#">{{'footer.blog.editors' | translate}}</a></li>
                <li><a href="#">{{'footer.blog.technologies' | translate}}</a></li>
                <li><a href="#">{{'footer.blog.blockchain' | translate}}</a></li>
                <li><a href="#">{{'footer.blog.finance' | translate}}</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h3>{{'footer.about.title' | translate}}</h3>
            <ul>
                <li><a href="#">{{'footer.about.company' | translate}}</a></li>
                <li><a href="#">{{'footer.about.team' | translate}}</a></li>
                <li><a href="#">{{'footer.about.legacy' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 item social">
            <a href="#"><i class="icon icon-social-facebook"></i></a>
            <a href="#"><i class="icon icon-social-twitter"></i></a>
            <a href="#"><i class="icon icon-social-snapchat"></i></a>
            <a href="#"><i class="icon icon-social-instagram"></i></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <p class="copyright">Horrea © 2023</p>
    </div>
</footer>